{% extends "base/base.html" %}
{% block content %}

<style>
    .last-news-post{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 210px;
        margin-bottom: 14px;
        margin-right: 10px;
        padding: 25px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
    }
    .last-news-post .alert{
        width: 100%;
    }
    .last-news-post .add{
        margin-bottom: 10px;
    }
    .last-news-post table{
        width: 100%;
    }
    .last-news-post table th{
        text-align: center;
        font-weight: normal;
        background-color: rgb(71, 102, 136);
    }
    .last-news-post table td a{
        color: #fff;
    }

    @media(max-width:1115px){
        .last-news-post{
            margin-left: 8px;
            margin-top: 30px;
        }
    }
</style>


<section class="last-news-post">
    <div class="add">
        <a href="{% url 'ajout-mouvement' %}" class="btn btn-success"><span class="fa fa-plus"></span> Enregistrer les mouvements</a>
    </div>
    {% for message in messages %}
      <div class="alert alert-success">
        <p>{{message}}</p>
      </div>
    {% endfor %}
    <table class="table table-hover table-responsive">
        <tr>
            <td colspan="10">Liste de tous les mouvements des Médecins</td>
        </tr>
        <tr>
            <th>N°</th>
            <th>NOM</th>
            <th>POST-NOMS</th>
            <th>PRENOMS</th>
            <th>SEXE</th>
            <th>Zone santé</th>
            <th>Lieu</th>
            <th>Service</th>
            <th>Fonction</th>
            <th colspan="3">Action</th>
        </tr>
        {% for medecin in mouvement %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{medecin.medecin.nom}}</td>
            <td>{{medecin.medecin.postnom}}</td>
            <td>{{medecin.medecin.prenom}}</td>
            <td>{{medecin.medecin.sexe}}</td>
            <td>{{medecin.zone_sante.designation}}</td>
            <td>{{medecin.lieu}}</td>
            <td>{{medecin.service}}</td>
            <td>{{medecin.fonction}}</td>
            <td><a href="{% url 'modif-mouvement' medecin.id %}" class="btn btn-success"> Modifier</a></td>
            <td><a href="{% url 'supprimer-mouvement' medecin.id %}" class="btn btn-danger"> Supprimer</a></td>
            <td><a href="{% url 'pdf-mouvement' medecin.id %}" class="btn btn-info">pdf</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="10">Aucun enregistrement pour le moment</td>
          </tr>
        {% endfor %}
    </table>
</section>
  

  
{% endblock content %}