{% extends "base/base.html" %}
{% block content %}

<style>
    .user{
        margin-left: 208px;
        margin-top: 10px;
    }
    .user p{
        color: rgb(49, 48, 49);
        font-size: 15px;
        font-weight: normal;
    }
    .dashboard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px -1px 0px 0px inset rgba(161, 161, 161, 0.25);
        margin: 8px 8px 8px 210px;

    }
    .dashboard .content-dashboard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .dashboard .content-dashboard a{
        text-decoration: none;
        color: aliceblue;
         width: 220px;
         height: 100px;
         margin: 7px;
         padding: 20px;
         background-color: rgb(29, 59, 126);
         border-radius: 3px;
         font-size: 16px;
         font-weight: normal;
    }
    .dashboard .content-dashboard a:hover{
        background-color: rgb(52, 28, 80);
    }
    .dashboard .content-dashboard a:nth-child(2){
        background-color: rgb(9, 121, 33);
    }
    .dashboard .content-dashboard a:nth-child(2):hover{
        background-color: rgb(49, 75, 109);
    }
    .dashboard .content-dashboard a:nth-child(3){
        background-color: rgb(9, 88, 84);
    }
    .dashboard .content-dashboard a:nth-child(3):hover{
        background-color: rgb(49, 75, 109);
    }
    .dashboard .content-dashboard a:nth-child(4){
        background-color: rgb(132, 22, 136);
    }
    .dashboard .content-dashboard a:nth-child(4):hover{
        background-color: rgb(49, 75, 109);
    }
    .dashboard .content-dashboard  a .card-news{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
       
        
    }
    .last-news-post{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 210px;
        margin-bottom: 14px;
        margin-right: 10px;
        box-shadow: 1px 0px 1px 1px rgba(189, 189, 189, 0.25);
    }
    .last-news-post table{
        min-width: 100%;
    }
    .last-news-post table th{
        text-align: left;
        font-size: 16x;
        font-weight: normal;
    }
    .last-news-post table td a{
        color: #fff;
    }

    /*MEDIA QUERY*/
    @media(max-width:500px){
        .dashboard .content-dashboard a{
            width: 97%;
            text-align: left;
        }
    }

    @media(max-width:1115px){
        .user{
        margin-left: 8px;
    }
        .dashboard{
            margin-left: 8px;
        }
        .last-news-post{
            margin-left: 8px;
        }
    }
</style>

{% if user.is_authenticated %}
  <div class="user">
    <p>Tableau de bord<br></p>
    <hr>
  </div>
{% endif %}
<section class="dashboard">
    <div class="content-dashboard">
        <a href="{% url 'liste-medecin' %}">
            <div class="card-news">
                <p>{{nombre_medecin}} <br> Médecins</p>
            </div>
        </a>
        <a href="{% url 'liste-affectation' %}">
            <div class="card-news">
                <p>{{nombre_affectation}}<br> Affectations</p>
            </div>
        </a>
        <a href="{% url 'liste-zone-sante' %}">
            <div class="card-news">
                <p>{{nombre_zone_sante}}<br> Zone santé</p>
            </div>
        </a>
        <a href="{% url 'liste-mouvement' %}">
            <div class="card-news">
                {% if  nombre_mouvement > 1%}
                <p>{{nombre_mouvement}} <br>Mouvements</p>
                {% else %}
                <p>{{nombre_mouvement}} <br>Mouvement</p>
                {% endif %}
            </div>
        </a>
    </div>
</section>
<section class="last-news-post">
    <table class="table table-hover table-responsive">
        <tr>
            <td colspan="9">Les 10 dernières affectations</td>
            <td colspan="2"><a href="{% url 'ajout-affectation' %}" class="btn btn-dark"><span class="fa fa-plus"></span> Enregistrer les affectations</a></td>
        </tr>
        <tr>
            <th>N°</th>
            <th>NOM</th>
            <th>POST-NOMS</th>
            <th>PRENOM</th>
            <th>SEXE</th>
            <th>LIEU</th>
            <th>SERVICE</th>
            <th>FONCTION</th>
            <th>DATE DEBUT</th>
            <th colspan="2" style="text-align: center;">Action</th>
        </tr>
        {% for medecin in affectation %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{medecin.medecin.nom}}</td>
          <td>{{medecin.medecin.postnom}}</td>
          <td>{{medecin.medecin.prenom}}</td>
          <td>{{medecin.medecin.sexe}}</td>
          <td>{{medecin.lieu}}</td>
          <td>{{medecin.service}}</td>
          <td>{{medecin.fonction}}</td>
          <td>{{medecin.date_debut|truncatewords:1}}</td>
          <td><a href="{% url 'modif-affectation' medecin.id %}" class="btn btn-success"> Modifier</a></td>
          <td><a href="{% url 'supprimer-affectation' medecin.id %}" class="btn btn-danger"> Supprimer</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="12">Aucun enregistrement pour le moment</td>
        </tr>
      {% endfor %}
          
    </table>
</section>
  
{% endblock content %}