<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    footer{
        background-color: #4b4b77;
        float: left;
        width: 100%;
        margin-top: 0px;
    }
    .coppy{
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #4b4b77;
        box-shadow: inset 1px 1px 1px  rgba(250, 250, 250, 0.25);
        
    }
    .coppy p{
        color: white;
        
    }
    .coppy p a{
        color: white;
    }

    @media(max-width:980px){
        footer .elements{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        word-wrap: break-word;
        width: 97%;
        overflow: hidden;
    }
    .elements .liens{
        margin-left: 0;
    }
    footer .elements .contact ul li a{

        word-wrap: break-word;
    }
    footer .elements ul li{
        margin-top: 10px;
        list-style: none;
        color: white;
        font-size: 13px;

    }
    footer .elements a{
       color: white;
        font-size: 13px;
        text-decoration: none;
        word-wrap: break-word;
        
        
    }
    .coppy{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        
    }
    .coppy p{
        color: white;
        
    }
    .coppy p a{
        color: white;
    }

    }
</style>



<footer>
    <div class="coppy">
        <div class="myCoppy">
            <p>&copy Tous doits reservés</p>
        </div>
    </div>
</footer>